* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./images/bg-top.svg);
    background-position: 12rem 0;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    font-family: Arial, Helvetica, sans-serif;
}

.center-title {
    margin-top: 3rem;
    text-align: center;
    color:hsl(233, 13%, 49%);
}
/*boton de switch*/
.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 1rem auto 1rem auto;
}

.switch-container p {
    color:hsl(234, 14%, 74%);
    font-weight: bold;
}
.switchBtn {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3rem;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}

.round {
    border-radius: 20px;
}

.cards-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.cards-container .card:nth-child(2) {
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}
.cards-container .card:nth-child(2) button {
    background: white;
    color: hsl(237, 63%, 64%);
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: hsl(232, 13%, 33%);
    padding: 2.5rem 2rem 2.5rem 2rem;
    margin: 1rem 0 2rem 0;
}
.card h2 {
    margin-bottom: 1rem;
}
.card .price {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    margin: 0;
}

.card p {
    border-bottom: solid hsl(233, 13%, 49%) 1px;
    margin: 1rem 0 1rem 0;
    padding-bottom: 1rem;
    font-weight: bold;
}
.card:nth-child(2) p {
    border-bottom: solid hsl(240, 78%, 98%) 1px;
}

.card button {
    margin-top: 1rem;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    cursor: pointer; 
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    width: 80%;
}

footer {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*Estilos para escritorio*/
@media (min-width: 1024px) {
    body {
        background-position: right;
    }
    .switch-container {
        width: 40%;
    }
    .cards-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .cards-container .card:nth-child(1),
    .cards-container .card:nth-child(3) {
        max-height: 420px;
    }
    .cards-container .card:nth-child(1){
        border-radius: 10px 0 0 10px;
    }
    .cards-container .card:nth-child(3){
        border-radius: 0 10px 10px 0;
    }

    .card {
        box-shadow: #666 0 0 1px;
    }

    
}